<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Go Webpage</title>
  <!-- <link rel="stylesheet" href="/static/styles.css"> -->
</head>
<body>

  <header>
    <h1>Artists</h1>
  </header>
  <p><a href="/homepage">Go to homepage Page</a></p>
  <div class="container">
  <!-- Artist Info Section -->
  <div class="artist-info">
    {{range .}} <!-- Iterating through artists -->
    <a href="/artist/{{.ID}}">
    <div class="artist-card">
        <img src="{{.Image}}" alt="{{.Name}}">
        <h2>{{.Name}}</h2>
        <!-- <p><strong>Artist ID:</strong> {{.ID}}</p> -->
        <!-- <p><strong>Members:</strong></p>
        <ul class="members-list">
            {{range .Members}}
                <li>{{.}}</li>
            {{end}}
        </ul> -->
    </div>
    </a>
    {{end}}
  </div>
</div>

  <!-- <footer>
    <p>© 2025 My Website</p>
  </footer> -->

</body>
</html>
 