<!DOCTYPE html>
<html>
    <body>
        <h1>{{.Artist.Name}}</h1>
        <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
        <!-- <p><strong>Artist ID:</strong> {{.ID}}</p> -->
        <p><strong>Members:</strong></p>
        <ul>
            {{range .Artist.Members}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        <h2>Concert Locations and Dates</h2>
        {{range $city, $dates := .Relation.DatesLocations}}
        <p>{{$city}}</p>
        <ul>
            {{range $dates}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        {{end}}
        <p><a href="/artists"> Back to Artists </a></p>
    </body>
</html>